@use "../partials/_mixins" as *;
@use "../partials/_variables" as *;
@use "../partials/_typography" as *;

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: $primary-dark;
  height: 100%;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.75rem;

  @include medium-tablet {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  @include desktop {
    font-size: 3rem;
    line-height: 3.25rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;

  @include medium-tablet {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  @include desktop {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h3 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2rem;
}

h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;

  @include medium-tablet {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  @include large-tablet {
    font-size: 1.25rem;
    line-height: 1.4rem;
  }

  @include desktop {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

h5 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;

  @include large-tablet {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  @include desktop {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

h6 {
  font-family: $special-font;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;

  @include desktop {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

p {
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 1rem;

  @include medium-tablet {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1rem;
  }
  @include large-tablet {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  margin: 0rem;
  padding: 0rem;
  font-size: 3rem;
}

::placeholder {
  color: $secondary-dark;
}

.logo {
  width: 2rem;
  height: 2rem;

  @include large-tablet {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.button--round {
  width: 10rem;
  padding: 0.5rem;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: $primary-dark;
  font-family: $special-font;

  @include medium-tablet {
    padding: 1rem;
  }
}

.button {
  &--square {
    background-color: $primary-dark;
    color: $primary-light;
    font-family: $font-family;
    border: none;
    font-size: 1rem;

    @include medium-tablet {
      height: 1.5rem;
    }

    @include large-tablet {
      height: 3rem;
    }
  }
  &--landing {
    background-color: $secondary-midtone;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-dark;
    font-weight: 600;
    box-shadow: 4px 4px 8px rgba(1, 111, 86, 0.2);
    @include medium-tablet {
      font-size: 0.8rem;
    }
  }
  &--landing:hover {
    box-shadow: 4 4px 8px rgba(1, 111, 86, 0.5);
  }
}

a {
  font-size: 0.85rem;
}
