//font
$font-family: "Sen";
$special-font: "Marmelad";

//colors
$primary-light: #f9fdff;
$primary-midtone: #7db6ab;
$primary-dark: #016f56;

$secondary-light: #cef0fd;
$secondary-midtone: #bbdad5;
$secondary-dark: #3f9380;

//responsive
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
