@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins" as *;

.discover {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin-bottom: 10vh;

  @include medium-tablet {
    margin-bottom: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;

    @include medium-tablet {
      flex-direction: row;
    }
  }

  &__textside {
    @include medium-tablet {
      width: 40%;
      display: flex;
      flex-direction: column;
    }
  }
}
