@use "../../styles/partials/variables" as *;

.discover {
  &__form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__input {
    border: 1.5px solid $primary-midtone;
    height: 2.5rem;
    padding: 0.5rem;
    margin: 1rem 0 0.5rem;
    color: $primary-dark;

    &::placeholder {
      color: $primary-midtone;
      font-family: $font-family;
    }
  }

  &__dropdown {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    font-family: $font-family;
    border: 1.5px solid $primary-midtone;
    color: $primary-dark;
  }

  &__error {
    text-align: center;
    font-size: 0.75rem;
    height: 1.5rem;
    padding: 0.25rem 0;
    color: $primary-midtone;
  }
}
