@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.logobox {
  height: 10vh;
  padding: 0.75rem 0;
  background-color: $primary-light;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
  background-color: $primary-light;

  &__headerbox {
    padding: 1rem;
  }

  &__button {
    display: flex;
    font-size: 0.8rem;
    background-color: $primary-dark;
    color: white;
    width: 100%;
    height: 2.25rem;
    margin-top: 0.75rem;
    align-items: center;
    justify-content: center;
  }

  &__cards {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }
  }
}

.card {
  border: 1px $secondary-light solid;
  width: 70%;
  min-height: 22rem;
  margin: 1rem;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 35%;
    max-height: 10rem;
  }

  &__title {
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $secondary-light;
  }
  &__details {
    margin: 1rem;
  }
}
