@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.header {
  display: flex;
  justify-content: center;
  width: 100%;

  @include medium-tablet {
    height: 3rem;
    border-bottom: 1px solid $primary-dark;
    width: 100%;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;

    @include medium-tablet {
      width: 80%;
      max-width: 90rem;
      padding: 0.75rem;
    }
  }

  &__logo {
    margin-left: 0.5rem;
    margin-top: 0.5rem;

    @include medium-tablet {
      margin-left: 0rem;
    }
  }

  &__nav {
    display: none;

    @include medium-tablet {
      display: flex;
      justify-content: space-between;
      width: 30%;
    }
  }

  &__navlink {
    display: none;

    @include medium-tablet {
      display: flex;
      font-weight: bold;
    }
    &:visited {
      color: $primary-dark;
    }
  }
}
