@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.landingpage {
  height: 100vh;
  background-color: $primary-light;
  display: flex;
  flex: 1;
  flex-direction: column;

  @include medium-tablet {
    // min-height: 100vh;
  }

  &__body {
    // height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;

  &__content {
    display: flex;
    align-items: center;
    padding: 1rem;

    @include medium-tablet {
      flex-direction: row;
      position: relative;
      padding: 1.5rem 0;
      width: 80%;
      max-width: 90rem;
    }

    @include desktop {
      min-height: 40rem;
    }
  }

  &__text-side {
    width: 100%;

    @include medium-tablet {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
  }

  &__title {
    text-align: center;

    @include medium-tablet {
      text-align: left;
    }
  }

  &__subheader {
    display: flex;
    justify-content: center;
    color: $primary-midtone;
    position: relative;
    top: 14px;
    right: 60px;

    @include medium-tablet {
      justify-content: flex-start;
      top: 5px;
      right: 0px;
    }

    @include desktop {
      font-size: 2rem;
      line-height: 2.25rem;
    }
  }

  &__cta {
    text-align: center;
    min-width: 80%;

    @include medium-tablet {
      text-align: left;
    }
  }

  &__caption {
    font-weight: 600;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include medium-tablet {
      align-items: flex-start;
    }
  }

  &__input {
    border: 1.5px solid $primary-midtone;
    border-radius: 50px;
    height: 2rem;
    padding: 0.5rem;
    text-align: center;
    margin-top: 1rem;
    color: $primary-dark;
    font-size: 0.7rem;
    width: 100%;

    @include medium-tablet {
      display: none;
    }

    @include desktop {
      margin-top: 1.5rem;
      max-width: 30rem;
      font-size: 1rem;
    }

    &::placeholder {
      text-align: center;
      color: $primary-midtone;
      font-family: $font-family;
      font-size: 0.7rem;

      @include desktop {
        font-size: 0.8rem;
      }
    }

    &:focus {
      border: 1px solid $primary-dark;
      outline: none;
    }

    &--error {
      animation: shake 0.3s ease;
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    height: 1.4rem;
    color: $primary-midtone;
  }

  &__button {
    width: 100%;
    font-family: $special-font;

    @include medium-tablet {
      display: none;
    }

    &--medium-tablet {
      display: none;

      @include medium-tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.5rem;
        font-size: 0.85rem;
        // width: 6rem;
        color: white;
      }
    }
  }

  &__image-side {
    display: none;

    @include medium-tablet {
      display: flex;
      width: 60%;
      height: 100%;
      min-height: 30rem;
    }

    @include desktop {
      min-height: 20rem;
      width: 100%;
    }
  }

  &__image-container {
    display: none;

    @include medium-tablet {
      display: flex;
      height: 80%;
      width: 50%;
      position: absolute;
      bottom: 0;
      right: 2rem;
    }
  }

  &__image {
    display: none;

    @include medium-tablet {
      display: flex;
      overflow: hidden;
      object-fit: cover;
    }
  }
}

input:focus::placeholder {
  color: transparent;
}

.upcoming {
  display: none;
  background-color: $secondary-light;

  @include medium-tablet {
    display: flex;
    justify-content: center;
  }

  @include desktop {
    min-height: 35rem;
  }

  &__content {
    @include medium-tablet {
      width: 80%;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 3rem 0;
      gap: 1.5rem;
    }
    @include desktop {
      max-width: 90rem;
    }
  }

  &__container {
    border: 1px solid $primary-dark;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__header {
    align-self: flex-start;
  }

  &__cards {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: scroll;
    gap: 1rem;
    justify-content: center;
  }
}

.impact {
  display: none;
  background-color: $primary-dark;
  color: $primary-light;

  @include medium-tablet {
    display: flex;
    justify-content: center;
    min-height: 10rem;
  }

  @include desktop {
    min-height: 20rem;
  }

  &__content {
    @include medium-tablet {
      width: 80%;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 3rem 0;
      gap: 1.5rem;
    }
    @include desktop {
      max-width: 90rem;
    }
  }

  &__container {
    border: 1px solid $primary-dark;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    align-self: flex-start;
  }
}

.mission {
  display: none;
  background-color: $primary-light;

  @include medium-tablet {
    display: flex;
    justify-content: center;
  }

  &__content {
    @include medium-tablet {
      width: 80%;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 3rem 0;
      color: $primary-dark;
      gap: 1.5rem;
      max-width: 90rem;
    }
  }

  &__header {
    align-self: flex-start;
  }

  &__body {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: center;
  }

  &__textside {
    display: flex;
    flex-direction: column;
  }

  &__text {
    align-self: center;
    text-align: center;
    padding-bottom: 1.5rem;
  }

  &__image {
    width: 50%;
    object-fit: cover;

    @include large-tablet {
      max-height: 20rem;
    }
  }
  &__logo {
    width: 15px;
    height: 15px;
  }
}
