@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.mapcomponent {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include medium-tablet {
    flex-direction: row-reverse;
  }
}

.map-container {
  text-align: center;
  height: 35rem;
  width: 100%;
  background-color: $secondary-light;

  @include medium-tablet {
    height: 100%;
    // width: 50%;
  }

  &__prompt {
    padding: 1rem;
  }
}
.marker {
  width: 40px;
  height: 40px;
}
